/*
Código de cores padrão
Azul: #0096fd
Vermelho Radical: #fa3460
*/

.mainDiv {
   width: 85%;
    margin: 30px auto;
    background-color: rgba(18, 18, 18, 0.7);;
    padding: 20px;
    box-shadow:0 0 25px rgba(0, 123, 255, 0.15);
    border-radius: 40px;
    text-align: center
}
.mainDiv a{
    text-decoration: none;
    color: #0096fd;
    padding: 20px;

}
.mainDiv a:hover {
    color: #fa3460;
}