/*
Código de cores padrão
Azul: #0096fd
Vermelho Radical: #fa3460
*/
form {
    width: 85%;
    margin: 30px auto;
    background-color: rgba(18, 18, 18, 0.7);;
    padding: 20px;
    box-shadow:0 0 25px rgba(0, 123, 255, 0.15);
    border-radius: 40px;
    color: #2699e6;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}


form input[type="text"],
form input[type="number"],
form textarea,
form select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #2699e6;
    border-radius: 15px;
    box-sizing: border-box;
    
}

form textarea {
    resize: vertical;
    min-height: 80px;
}

.botao {
    display: flex;
    margin-left: 10px;
    align-items: center;
    justify-content: space-between; 
    align-items: center;
}
form button[type="submit"] {
    background-color: #2699e6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

form button[type="submit"]:hover {
    background-color: #32CD32;

}