/*
Código de cores padrão
Azul: #0096fd
Vermelho Radical: #fa3460
*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #15181a;
    color: #333;
}

.container {
    width: 85%;
    margin: 30px auto;
    background-color: rgba(18, 18, 18, 0.7);;
    padding: 20px;
    box-shadow:0 0 25px rgba(0, 123, 255, 0.15);
    border-radius: 40px;
}

h1, h2 {
    color: #0000ff;
}

nav {
    margin-top:10px ;
    margin-bottom: 20px;
    display:flex;
}

nav a {
    margin-left: 20px;
    margin-right: 15px;
    text-decoration: none;  
    color:  #2699e6;
    font-weight: bold;
    font-size: 20px;

   
}

nav a:hover {
    color: #fa3460;
}

hr {
    border: 0;
    height: 1px;
    background-color: #eee;
    margin: 20px 0;
}

.error {
    color: #dc3545;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #eee;
    color: #666;
    padding: 20px;
}

.headerBarraAlta {
    display: flex;
    margin-left: 10px;
    align-items: center;
    justify-content: space-between; 
    align-items: center;
    padding: 5px 5px;
}

.esquerda { 
    margin-left: 50px;
    margin-right:auto;
    align-items: center;
    display:flex;
    gap: 20px
}

.direita{
    margin-left: auto;
    margin-right:50px;
    align-items: center;
    display:flex;
    gap: 20px
}

.textoAba{
    margin-left: 140px;
    color: #fa3460;
}
