/*
Código de cores padrão
Azul: #0096fd
Vermelho Radical: #fa3460
*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 14px 18px;
    text-align: left;
}

th {
    text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.9em;
}

tr:nth-child(even) {
    background-color: #f9fafb;
}
tr {
    background-color: #eef2ff;
  transition: 0.3s ease;
}
.tabelas {
    width: 85%;
    margin: 30px auto;
    background-color: rgba(18, 18, 18, 0.7);;
    padding: 20px;
    box-shadow:0 0 25px rgba(0, 123, 255, 0.15);
    border-radius: 40px;
}
.button {   
    display: inline-block;
    padding: 8px 15px;
    margin: 5px 0;
    background-color: #2699e6;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


.button:hover {
    background-color: #fa3460;
}

.button.edit {
    background-color: #ffc107;
    color: #333;
}

.button.edit:hover {
    background-color: #e0a800;
}

.button.delete {
    background-color: #dc3545;
}

.button.delete:hover {
    background-color: #c82333;
}
